@font-face {
	font-family: 'Glyphicons';
	src: url(fonts/fontello.ttf);
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
	margin: 0;
	padding: 0;
}

.sans35 {
	display: block;
	margin: 0 auto;
	padding: 0;
}

/*NAV BAR, desktop*/

#menu {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(255,255,255,.3);
	background: white;
}

#menu_logo_container {
	text-align: center;
}

#menu_logo {
	display: inline-block;
	white-space: nowrap;
}

#menu_nav_container {
	display: block;
}

#h1_a {
	text-decoration: none;
	text-transform: uppercase;
}

#menu_h1 {
	font-size: 48px;
	margin: 10px 0 0;
	color: #222;
	font-weight: 300;
	/*background: rgba(255,255,255,.3);*/
}

#menu_ul {
	list-style: none;
	padding: 0 0 5px;
	font-size: 12px;
	text-align: center;
	margin: 0 7px 0 0;
}

.menu_li {
	display: inline-block;
	padding: 0 26px;
}

.menu_a {
	text-decoration: none;
	color: #aaa;
	text-transform: uppercase;
}

.menu_a:hover {
	color: #555;
	text-decoration: underline;
}

/*NAV BAR, mobile*/

.menu_nav_button-m {
	display: none;
}

.menu_nav_container-m {
	display: none;
}

/*FOOTER*/

#footer_nav_container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	height: 50px;
	padding-top: 10px;
}

#footer_ul {
	list-style: none;
	padding: 0;
	font-size: 12px;
	text-align: center;
}

.footer_a {
	text-decoration: none;
	text-transform: uppercase;
	color: #555;
}

.footer_a:hover {
	color: #aaa;
}

/*ABOUT.html*/
#about_button {
	width: 220px;
	height: 70px;
	background: #222;
	display: block;
	margin: 160px auto 65px;
}

#about_hello {
	color: #fff;
	text-align: center;
	font-weight: 300;
	font-size: 48px;
	padding-top: 2px;
}

#about_bio {
	display: block;
	max-width: 700px;
	margin: 0 auto;
	font-size: 12px;
	font-weight: 300;
	padding: 0 10px;
}
#about_hr {
	margin: 22px 0 10px;
}

.about_p {
	margin: 0 0 10px;
}

#about_img_container {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.about_img {
	display: inline-block;
	padding: 0 7.5px;
	margin: 20px 0;
}

.about_img_size {
	width: 220px;
}

#about_tagline {
	display: block;
}

#about_h3 {
	font-weight: 300;
	display: block;
	text-align: center;
}

/*TESTIMONIAL*/

/*#testimonial_button {
	width: 340px;
	height: 70px;
	background: #222;
	display: block;
	margin: 160px auto 65px;
}*/

#testimonial_hello {
	color: #222;
	text-align: center;
	font-weight: 300;
	font-size: 48px;
	display: block;
/*	padding-top: 2px;*/
	margin: 160px auto 65px;
}

#testimonial_div {
	max-width: 700px;
	margin: 0 auto;
}

.testimonial_h3 {
	font-size: 1rem;
}

.testimonial_p {
	font-size: 12px;
}

.testimonial_p:last-of-type {
	padding-bottom: 70px; 
}

/*CONTACT.html*/
#contact_glyphicons {
	display: block;
	margin: 0 auto;
	text-align: center;
}

i {
	font-style: normal;
	display: inline-block;
	font-size: 60px;
	font-family: 'Glyphicons';
	color: #222;
}

#contact_text {
	display: block;
	text-align: center;
	margin: 160px auto 0;
}

#contact_heading {
	margin: 0;
}

#contact_h3 {
	font-size: 48px;
	font-weight: 300;
	margin: 0;
}

#contact_email {
	margin: 10px;
}

#contact_link {
	text-decoration: none;
	color: #aaa;
	margin: 0;
}

#contact_link:hover {
	color: #222;
}

#contact_h4 {
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}

/*ENGAGEMENT*/
#engagement {
	margin: 150px auto 0;
	text-align: center;
	padding-bottom: 20px;
}

#engagement_hello {
	color: #222;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
}

.engagement_a {
	text-decoration: none;
	color: #222;
	font-size: 12px;
	font-weight: 300;
}

.engagement_a:hover {
	color: #aaa;
}

#engagement_div_container {
	display: block;
	max-width: 900px;
	margin: 0 auto 50px;
}

.engagement_div {
	display: inline-block;
	padding: 0 5px;
}

/*WEDDING*/
#wedding {
	margin: 150px auto 0;
	text-align: center;
	padding-bottom: 20px;
}

#wedding_hello {
	color: #222;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
}

.wedding_a {
	text-decoration: none;
	color: #222;
	font-size: 12px;
	font-weight: 300;
}

.wedding_a:hover {
	color: #aaa;
}

#wedding_div_container {
	display: block;
	max-width: 900px;
	margin: 0 auto 50px;
}

.wedding_div {
	display: inline-block;
	padding: 0 5px;
}

/*WEDDING - SHOW*/

.wedding_show-div {
	white-space: nowrap;
	margin-top: 151px;
}

.wedding_show-img {
	display: inline;
	height: 650px;
}

.wedding_show-a {
	position: fixed;
	margin-top: 10px;
	display: block;
	text-decoration: none;
	color: #222;
	font-weight: 300;
}

.wedding_show-a:hover {
	color: #aaa;
}

/*ENGAGEMENT - SHOW*/

.engagement_show-div {
	white-space: nowrap;
	margin-top: 151px;
}

.engagement_show-img {
	display: inline;
	height: 650px;
}

.engagement_show-a {
	position: fixed;
	margin-top: 10px;
	display: block;
	text-decoration: none;
	color: #222;
	font-weight: 300;
}

.engagement_show-a:hover {
	color: #aaa;
}

/*SIGN IN.html*/

#signin {
	margin-top: 160px;
}

#signin_container {
	max-width: 700px;
	padding: 0 10px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

#signin_form {
	display: block;
}

.signin_input {
	display: block;
	margin: 40px auto;
	width: 330px;
	height: 35px;
	font-size: 14px;
	padding-left: 20px;
}

.signin_input-button {
	width: 356px;
	padding: 15px 0;
	border: 0;
	background: #222;
	color: #fff;
	font-size: 14px;
}

.signin_p {
	color: #222;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
	margin: 30px;
}

.signin_a {
	text-decoration: none;
	color: #aaa;
	font-size: 12px;
	font-weight: 300;
}

.signin_a:hover {
	color: #222;
}

/*SIGN UP.html*/

#signup {
	margin-top: 160px;
}

#signup_container {
	max-width: 700px;
	padding: 0 10px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

#signup_form {
	display: block;
}

.signup_input {
	display: block;
	margin: 40px auto;
	width: 330px;
	height: 35px;
	padding-left: 20px;
	font-size: 12px;
}

.signup_input-name {
	display: inline;
	margin: 40px 0 0 1px;
	width: 149px;
	height: 35px;
	font-size: 12px;
	padding-left: 20px;
}

.signup_input-name:nth-of-type(1) {
	display: inline;
	margin: 0 0 0 1px;
	width: 149px;
	height: 35px;
	font-size: 12px;
	padding-left: 20px;
}

.signup_input-name:nth-of-type(2) {
	display: inline;
	margin: 0 0 0 1px;
	width: 149px;
	height: 35px;
	font-size: 12px;
	padding-left: 20px;
}

.signup_input-button {
	width: 356px;
	padding: 15px 0;
	border: 0;
	background: #222;
	color: #fff;
	font-size: 14px;
}

.signup_p {
	color: #222;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
	margin: 30px;
}

.signup_a {
	text-decoration: none;
	color: #aaa;
	font-size: 12px;
	font-weight: 300;
}

.signup_a:hover {
	color: #222;
}

/*LOG OUT*/

#logout{
	margin-top: 160px;
}

#logout_container {
	display: block;
	text-align: center;
	margin: 0 auto;
	max-width: 700px;
}

#logout_hello {
	font-size: 48px;
	font-weight: 300;
	margin: 0;
}

#logout_button {
	background: #222;
	color: #fff;
	padding: 10px 20px;
	margin-top: 20px;
	font-size: 16px;
}

/*USERS.html*/

#users {
	margin-top: 160px;
}

#users_container {
	margin: 0 auto;
	text-align: center;
	display: block;
}

#users_hello {
	font-size: 48px;
	font-weight: 300;
	margin: 0;
}

.users_p {
	color: #222;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	margin: 30px;
}

/*SITE WIDE*/

.black {
	color: #222;
}

.red {
	color: #993333;
}

.wide {
	font-weight: 400;
}

.small {
	font-size: 10px;
}

.thin {
	font-weight: 300;
}

.block-center {
	margin: 0 auto;
	display: block;
	text-align: center;
}

/*Mobile & Tablet, 770px*/
@media (max-width: 770px) {

	#menu {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		padding-bottom: 30px;
		background: rgba(255,255,255,1);
	}

	#menu_logo_container {
		text-align: center;
	}

	#menu_h1 {
		font-size: 7vw;
		position: fixed;
		top: -5px;
		left: 0;
		margin: 0;
	}

	#menu_nav_container {
		display: none;
	}

	#footer_nav_container {
		display: none;
	}

	#about_button {
		margin: 100px auto 65px;
	}

	.about_img {
		padding: 0;
		margin: 10px 0;
	}

	#about_h3 {
		margin: 0 0 10px 0;
	}

	#testimonial_button {
		margin: 100px auto 65px;
	}

	#testimonial_div {
		padding: 0 10px;
	}

	#contact_text {
		margin: 100px auto 0;
	}

	#engagement {
		margin: 80px auto 0;
	}

	#engagement_div_container {
		max-width: 626px;
	}

	.engagement_div {
		padding: 0 1px;
	}

	.engagement_img {
		width: 200px;
	}

	#wedding {
		margin: 80px auto 0;
	}

	#wedding_div_container {
		max-width: 626px;
	}

	.wedding_div {
		padding: 0 1px;
	}

	.wedding_img {
		width: 200px;
	}

	.wedding_show-img {
		height: 500px;
	}

	.wedding_show-a {
		margin-top: 50px;
	}

	#signin {
		margin-top: 100px;
	}

	.signin_input {
		display: block;
		margin: 40px auto;
		width: 300px;
		height: 35px;
		font-size: 16px;
		padding-left: 10px;
	}

	.signin_input-button {
		width: 316px;
		padding: 15px 0;
		border: 0;
		background: #222;
		color: #fff;
		font-size: 14px;
	}



	#signup {
		margin-top: 100px;
	}

	.signup_input {
		display: block;
		margin: 40px auto;
		width: 300px;
		height: 35px;
		padding-left: 10px;
		font-size: 16px;
	}

	.signup_input-name {
		display: block;
		margin: 40px auto 0;
		width: 300px;
		height: 35px;
		padding-left: 10px;
		font-size: 16px;
	}

	.signup_input-name:nth-of-type(1) {
		display: block;
		margin: 40px auto;
		width: 300px;
		height: 35px;
		padding-left: 10px;
		font-size: 16px;
	}

	.signup_input-name:nth-of-type(2) {
		display: block;
		margin: 40px auto 0;
		width: 300px;
		height: 35px;
		padding-left: 10px;
		font-size: 16px;
	}

	.signup_input-button {
		width: 316px;
		padding: 15px 0;
		border: 0;
		background: #222;
		color: #fff;
		font-size: 14px;
	}

	#logout {
		margin-top: 100px;
	}

	/*NAV BAR, mobile*/

	#test {
		position: relative;
	}

	.menu_nav_button-m {
		display: inline-block;
		position: fixed;
	}

	.menu_nav_button-m:before {
		display: inline-block;
		font-size: 7vw;
		content: '\F0C9';
		font-family: 'Glyphicons';
		right: 10px;
		top: 0;
		position: fixed;
	}

	.menu_nav_button-m-active {
		display: inline-block;
		position: fixed;
	}

	.menu_nav_button-m-active:before {
		display: inline-block;
		font-size: 6vw;
		content: '\E803';
		font-family: 'Glyphicons';
		right: 10px;
		top: 5px;
		position: fixed;
	}

	.menu_nav_container-m-active {
		display: block;
		padding: 0 0 400px;
		margin: 60px 0 0;
		background: rgba(255,255,255,.5);
	}

	#menu_ul-m {
		list-style: none;
		padding: 0 ;
		font-size: 16px;
		text-align: center;
		display: block;
	}

	.menu_li-m {
		display: block;
		padding: 15px 0;
	}

	.menu_a-m {
		text-decoration: none;
		color: #aaa;
		text-transform: uppercase;
	}
	.menu_a-m:hover {
		color: #555;
		text-decoration: underline;
	}

	.menu_li-m-glyph {
		padding: 20px 10px;
		text-align: center;
		display: inline-block;
	}

	.menu_li-m-i {
		font-size: 20px;
	}

}

/*Mobile & Tablet, 670px*/
@media (max-width: 670px) {

	#menu {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		padding-bottom: 30px;
		background: rgba(255,255,255,1);
	}

	#menu_logo_container {
		text-align: center;
	}

	#menu_h1 {
		font-size: 7vw;
		position: fixed;
		top: -5px;
		left: 0;
		margin: 0;
	}

	#menu_nav_container {
		display: none;
	}

	#footer_nav_container {
		display: none;
	}

	.about_img {
		padding: 0;
		margin: 10px 0;
	}

	#about_h3 {
		margin: 0 0 10px 0;
	}

	#testimonial_hello {
		margin: 100px auto 65px;
	}

	#engagement {
		margin: 80px auto 0;
	}

	#engagement_div_container {
		max-width: 626px;
	}

	.engagement_div {
		padding: 0 1px;
	}

	.engagement_img {
		width: 200px;
	}

	#wedding {
		margin: 80px auto 0;
	}

	#wedding_div_container {
		max-width: 626px;
	}

	.wedding_div {
		padding: 0 1px;
	}

	.wedding_img {
		width: 200px;
	}

	.wedding_show-img {
		height: 320px;
	}

	/*NAV BAR, mobile*/

	#test {
		position: relative;
	}

	.menu_nav_button-m {
		display: inline-block;
		position: fixed;
	}

	.menu_nav_button-m:before {
		display: inline-block;
		font-size: 7vw;
		content: '\F0C9';
		font-family: 'Glyphicons';
		right: 10px;
		top: 0;
		position: fixed;
	}

	.menu_nav_button-m-active {
		display: inline-block;
		position: fixed;
	}

	.menu_nav_button-m-active:before {
		display: inline-block;
		font-size: 6vw;
		content: '\E803';
		font-family: 'Glyphicons';
		right: 10px;
		top: 5px;
		position: fixed;
	}

	.menu_nav_container-m-active {
		display: block;
		padding: 0 0 1000px;
		margin: 30px 0 0;
		background: rgba(255,255,255,.5);
	}

	#menu_ul-m {
		list-style: none;
		padding: 0 ;
		font-size: 14px;
		text-align: center;
		display: block;
	}

	.menu_li-m {
		display: block;
		padding: 10px 0;
	}

	.menu_a-m {
		text-decoration: none;
		color: #aaa;
		text-transform: uppercase;
	}
	.menu_a-m:hover {
		color: #555;
		text-decoration: underline;
	}

	.menu_li-m-glyph {
		padding: 20px 10px;
		text-align: center;
		display: inline-block;
	}

	.menu_li-m-i {
		font-size: 20px;
	}

}
