<!-- ABOUT -->
<div id="about_button">
	<h2 id="about_hello">HELLO</h2>
</div>

<div id="about_bio">
	<p class="about_p"><strong>Sans35 Photography</strong> has captured photos and videos all across the vast California landscape; reaching from San Diego to the Oregon border, and everywhere in between. Whether the event is framed by the Pacific coastline or a hidden canyon getaway Sans35 Photography prides itself on making special moments last forever. With particular attention to detail, Sans35 Photography has a unique ability to understand and cater to everyone, while most importantly exceeding their expectations.</p>
	<p class="about_p"><strong>Will Tee Yang</strong> is a Los Angelican well known for his radiant aesthetic. His intrinsic ability to marry the classical and rustic styles of today is unsurpassed.  When it comes to those most fleeting and beautiful moments, they do not go un-captured.</p>
	<p class="about_p"><strong>James Goatcher</strong> is a polymath whose specialities include music, language, memory, web development, and, of course, photography.  His desire to create is surpassed only by his desire to learn something new, which usually manifests in the form of world travel.  When he's not shooting or in front of a computer screen, you're likely to find him enjoying a cold brew coffee while playing a game of chess.</p>
	<hr id="about_hr">
</div>

<div id="about_img_container">
	<div class="about_img"><img class="about_img_size" src="../img/about-j.jpg"></div>
	<div class="about_img"><img class="about_img_size" src="../img/about-k.jpg"></div>
	<div class="about_img"><img class="about_img_size" src="../img/about-w.jpg"></div>
</div>

<div id="about_tagline">
	<h3 id="about_h3"># STYLISH WEDDING PHOTOGRAPHY SINCE 2010</h3>
</div>