			<!-- Carousel -->
			<!-- Credit goes to http://benschwarz.github.io/gallery-css/ for code foundation but personalized tweaks done by James Goatcher -->
			<div class="gallery autoplay items-4">
			  <div id="item-1" class="control-operator"></div>
			  <div id="item-2" class="control-operator"></div>
			  <div id="item-3" class="control-operator"></div>
			  <div id="item-4" class="control-operator"></div>


			  <figure class="item">
			  	<img class="home_img" src="../img/carousel-1.jpg">
			  </figure>

			  <figure class="item">
			  	<img class="home_img" src="../img/carousel-2.jpg">
			  </figure>

			  <figure class="item">
			  	<img class="home_img" src="../img/carousel-3.jpg">
			  </figure>

			  <figure class="item">
			  	<img class="home_img" src="../img/carousel-5.jpg">
			  </figure>

<!-- 			  <div class="controls">
			  	<p class="control-button">•</p>
			    <p class="control-button">•</p>
			    <p class="control-button">•</p>
			    <p class="control-button">•</p>
			<a href="#item-1" class="control-button">•</a>
			    <a href="#item-2" class="control-button">•</a>
			    <a href="#item-3" class="control-button">•</a>
			    <a href="#item-4" class="control-button">•</a>
			  </div> -->
			</div>
			<div id="home_tagline">
				<h3 id="home_h3"># STYLISH WEDDING PHOTOGRAPHY SINCE 2010</h3>
			</div>