<!-- ALBUM SHOW PAGE -->
<section id="album_page">
	<div id="album_page_container">

			<img id="album_page_large-img" src="">

		<div class="album_page_div">
			<div
				class="album_page_repeat"
				ng-repeat="photo in index.user.album"
				>
				<img class="album_page_thumb" src="{{photo}}">
			</div>
		</div>
	</div>
</section>
<script>
	//Album show page thumbnail to large image
$(document).ready(function() {
	$('.album_page_thumb').click(function(x) {
		$('.album_page_div').hide();
		var src = $(this).attr('src');
		$('#album_page_large-img').attr('src', src).show();
		// $('body').toggleClass('black-bg');
		x.stopPropagation();
	});
	$('#album_page_large-img').hide().click(function(){
		$(this).hide();
		$('.album_page_div').show();
	});
});
</script>