<section id="users">
	<div id="users_container">
		<h3 id="users_hello">Hello, {{index.user.firstNameOne}} &amp; {{index.user.firstNameTwo}}!</h3>
		<p ng-hide="admin" class="users_p">Albums ready for your review:</p>
		<!-- ALBUM LINK TO THUMBS -->
		<div ng-hide="admin">
			<div class="album_div" ng-hide="noAlbum">
				<p>Album is still in the works...</p>
			</div>
			<div class="album_div" ng-show="noAlbum">
				<a href="/users/{{index.user._id}}/album">
					<div class="album_img-div">
						<img class="album_img-thumb" src="{{index.user.album[0]}}">
					</div>
				</a>
				<p class="users_p red">{{index.user.firstNameOne}} + {{index.user.firstNameTwo}}</p>
			</div>
		</div>

		<!-- ============== -->
		<!-- ADMIN CONTROLS -->
		<div ng-show="admin" id="admin">
			<p class="users_p red"><strong>ADMIN CONTROLS</strong></p>
			<p class="users_p">To add album, start by selecting a client:</p>
			<form id="admin_form">
				<!-- <textarea id="admin_input" rows="20" cols="50" placeholder="Paste individual photo URLs here"></textarea> -->
<!-- 				<select id="admin_clients" ng-repeat="client in clientList">
					<option value="{{client._id}}">{{client.email}}</option>
				</select> -->
				<select id="admin_clients">
					<option selected value="base">TEST</option>
				</select>
				<input type="hidden" value="{{client._id}}" name="client[id]">
				<input type="text" name="client[id]">
				<input id="admin_input-submit" ng-click="editClient(client)" type="submit">
			</form>
			<p class="users_p red">NOTE: Separate each URL with a return.</p>
		</div>
		<!-- ============== -->
	</div>
</section>