<!-- ABOUT -->
<div id="about_button">
	<h2 id="about_hello">HELLO</h2>
</div>

<div id="about_bio">
	<p class="about_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p class="about_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	temporvoluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p class="about_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dol ea commodo
	consequat. Duis aute irure doloteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<hr id="about_hr">
</div>

<div id="about_img_container">
	<div class="about_img"><img class="about_img_size" src="../img/about-j.jpg"></div>
	<div class="about_img"><img class="about_img_size" src="../img/about-k.jpg"></div>
	<div class="about_img"><img class="about_img_size" src="../img/about-w.jpg"></div>
</div>

<div id="about_tagline">
	<h3 id="about_h3"># STYLISH WEDDING PHOTOGRAPHY SINCE 2010</h3>
</div>