<!-- ENGAGEMENT -->
<section id="engagement">
	<p id="engagement_hello"><strong>SELECTED ENGAGEMENT PORTFOLIO</strong></p>
	<p id="engagement_hello">PLEASE VISIT OUR <a class="engagement_a" href="https://www.sans35weddings.com" target="_blank">BLOG</a> FOR A COMPLETE SET OF EVERY WEDDING</p>
	<div id="engagement_div_container">
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-1.png">
			<br>
			<span>TYLER + KATHY</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-2.png">
			<br>
			<span>BEN + KIM</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-3.png">
			<br>
			<span>JORDAN + ASHLEY</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-4.png">
			<br>
			<span>RYAN + KANAKO</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-5.png">
			<br>
			<span>JAMES + ALICE</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-6.png">
			<br>
			<span>DANNY + EMILIA</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-7.png">
			<br>
			<span>RYAN + APRIL</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-8.png">
			<br>
			<span>BRIAN + LAUREN</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-9.png">
			<br>
			<span>RYAN + KATELYN</span>
		</div>
		<div class="engagement_div">
			<img class="engagement_img" src="../img/eng/eng-10.png">
			<br>
			<span>JOHN + MONICA</span>
		</div>
	</div>
</section>