<!-- TESTIMONIAL -->
<div id="testimonial_button">
	<h2 id="testimonial_hello">TESTIMONIALS</h2>
</div>

<div id="testimonial_div">
	<h3 class="testimonial_h3">LLOYD &amp; LAURENE <span class="thin">| GRANADA HILLS, CA</span></h3>
		<p class="testimonial_p">OMG!!!  Sans 35 ROCKS!!!
	James and Will are the best!  They are professional, patient and extremely creative.
	They photographed our wedding recently and WOW they had everything scoped out prior to taking shots to capture the utmost beautiful and memorable views they could to provide you with memories forever.
	They spent several hours with us and were very amenable to our needs.
	Sans 35 is very well priced and will create a package to suit your needs.
	Trust in this review and use with certainty.</p>
	<h3 class="testimonial_h3">RYAN &amp; RAQUEL <span class="thin">| MALIBU, CA</span></h3>
		<p class="testimonial_p">THESE GUYS ARE AMAZING! Sans 35 Photography worked our wedding on October 10th, 2014 in Topanga Canyon and did an incredible job! Our total cost covered 2 photographers (Will and James) who covered the wedding for a time span of 8 hours. We also happened to use Sans 35 a year earlier for our engagement party and there is no doubt that we will use them for many more occasions to come! These guys are incredibly sweet, hard working and really take pride in what they do.</p>
	<h3 class="testimonial_h3">MATT &amp; KRISTIN <span class="thin">| YORBA LINDA, CA</span></h3>
		<p class="testimonial_p">Will was extremely professional and hospitable to us for our big day. When he came to check out the venue the day before, he even helped us hang some of the lighting. I could not have been more please with his service. He was early, took all of the pictures I had requested, and more. The pictures turned out lovely and the video has made everyone who has watched it come to tears, in a good way! Thank you Will and team for making our day so memorable. I would (and do) recommend him to everyone I know.</p>
	<h3 class="testimonial_h3">NATE &amp; NATALIE <span class="thin">| PASADENA, CA</span></h3>
		<p class="testimonial_p">We hired Sans 35 and Will Tee Yang for our wedding video. I had heard that many brides regret not having a wedding video, and I have to say that it was a great decision. Will is such a pleasure to work with. Professional, courteous, and he was a true joy to have as part of our special day. We are very, very pleased with the final product and look forward to reliving our special day for years to come. Thank you, Will!</p>

	<h3 class="testimonial_h3">REDGE &amp; YVETTE <span class="thin">| MALIBU, CA</span></h3>
		<p class="testimonial_p">My husband and I worked with Sans 35 and couldn't be any happier with who we picked as our wedding photographers/videographer. Will was so sweet and went above and beyond to make sure everything went absolutely perfect! Will is extremely talented and seriously, what an eye! His photos and creativity is spot on and I am so happy to have worked with him :) I definitely recommend everyone to hire him and his crew, you'll be SO happy you did! :)</p>
	<h3 class="testimonial_h3">JORDAN &amp; ASHLEY <span class="thin">| MARINA DEL RAY, CA</span></h3>
		<p class="testimonial_p">The photographers at Sans 35 are not only highly professional, timely, and accommodating-- they are also gifted! Every photo turned out amazing and they work well with children (our 18 month old was our ring-bearer and they captured a number of beautiful shots with him). From engagement photos, to boudoir photos, to day of photos and video, they did an amazing job and provide a personal touch. They also assembled our engagement photos into our guest book, provided prints, all digital high resolution photos, a wedding video, and wedding photo book-- all either with his creative input or 100% customized to the customer. Couldn't have asked for a better photographer!!</p>
</div>

