<!-- ENGAGEMENT -->
<section id="wedding">
	<p id="wedding_hello"><strong>SELECTED WEDDING PORTFOLIO</strong></p>
	<p id="wedding_hello">PLEASE VISIT OUR <a class="wedding_a" href="https://www.sans35weddings.com" target="_blank">BLOG</a> FOR A COMPLETE SET OF EVERY WEDDING</p>
	<div id="wedding_div_container">
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-17.png">
			<br>
			<span>ADRIANO + MEAGAN</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-18.png">
			<br>
			<span>_____ + SANDRA</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-10.png">
			<br>
			<span>TYLER + KATHY</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img" src="../img/wed/w-1.png">
			<br>
			<span>PJ + MEAGHAN</span>
		</div>

		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-15.png">
			<br>
			<span>BEN + KIM</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-12.png">
			<br>
			<span>REDGE + YVETTE</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-3.png">
			<br>
			<span>KORY + KYIARA</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-2.png">
			<br>
			<span>JAMES + ALICE</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-4.png">
			<br>
			<span>MATT + KRISTIN</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-5.png">
			<br>
			<span>JACE + WILL</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-9.png">
			<br>
			<span>RYAN + RAQUEL</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-7.png">
			<br>
			<span>JEFFREY + ADELLE</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-11.png">
			<br>
			<span>BUCKY + TRACY</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-13.png">
			<br>
			<span>LLOYD + LAURENE</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-14.png">
			<br>
			<span>RYAN + SARAH</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-16.png">
			<br>
			<span>JORDAN + ASHLEY</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-8.png">
			<br>
			<span>KEVIN + CIARA</span>
		</div>
		<div class="wedding_div">
			<img class="wedding_img"src="../img/wed/w-6.png">
			<br>
			<span>MARCO + KANDICE</span>
		</div>
	</div>
</section>