<!-- ENGAGEMENT -->
<section id="wedding">
	<p id="wedding_hello"><strong>SELECTED WEDDING PORTFOLIO</strong></p>
	<p id="wedding_hello">PLEASE VISIT OUR <a class="wedding_a" href="https://www.sans35weddings.com" target="_blank">BLOG</a> FOR A COMPLETE SET OF EVERY WEDDING</p>
	<div id="wedding_div_container">
		<div class="wedding_div">
			<!-- <a href="/wedding/adriano_meagan"> -->
				<img class="wedding_img"src="../img/wed/w-17.png">
			<!-- </a> -->
			<br>
			<span>ADRIANO + MEAGAN</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/daniel_bethany">
				<img class="wedding_img"src="../img/wed/w-14.png">
			</a>
			<br>
			<span>DANIEL + BETHANY</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/tyler_kathy">
				<img class="wedding_img"src="../img/wed/w-10.png">
			</a>
			<br>
			<span>TYLER + KATHY</span>
		</div>
		<div class="wedding_div">
			<!-- <a href="/wedding/ben_kim"> -->
				<img class="wedding_img"src="../img/wed/w-15.png">
			<!-- </a> -->
			<br>
			<span>BEN + KIM</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/pj_meghan">
				<img class="wedding_img" src="../img/wed/w-1.png">
			</a>
			<br>
			<span>PJ + MEGHAN</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/redge_yvette">
				<img class="wedding_img"src="../img/wed/w-12.png">
			</a>
			<br>
			<span>REDGE + YVETTE</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/kory_kyiara">
				<img class="wedding_img"src="../img/wed/w-3.png">
			</a>
			<br>
			<span>KORY + KYIARA</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/james_alice">
				<img class="wedding_img"src="../img/wed/w-2.png">
			</a>
			<br>
			<span>JAMES + ALICE</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/matt_kristin">	
				<img class="wedding_img"src="../img/wed/w-4.png">
			</a>
			<br>
			<span>MATT + KRISTIN</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/jace_will">
				<img class="wedding_img"src="../img/wed/w-5.png">
			</a>
			<br>
			<span>JACE + WILL</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/ryan_raquel">
				<img class="wedding_img"src="../img/wed/w-9.png">
			</a>
			<br>
			<span>RYAN + RAQUEL</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/jeffrey_adelle">
				<img class="wedding_img"src="../img/wed/w-7.png">
			</a>
			<br>
			<span>JEFFREY + ADELLE</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/lloyd_laurene">
				<img class="wedding_img"src="../img/wed/w-13.png">
			</a>
			<br>
			<span>LLOYD + LAURENE</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/bryan_sandra">
				<img class="wedding_img"src="../img/wed/w-18.png">
			</a>
			<br>
			<span>BRYAN + SANDRA</span>
		</div>
		<div class="wedding_div">
			<!-- <a href="/wedding/jordan_ashley"> -->
				<img class="wedding_img"src="../img/wed/w-16.png">
			<!-- </a> -->
			<br>
			<span>JORDAN + ASHLEY</span>
		</div>
		<div class="wedding_div">
			<a href="/wedding/kevin_ciara">	
				<img class="wedding_img"src="../img/wed/w-8.png">
			</a>
			<br>
			<span>KEVIN + CIARA</span>
		</div>
				<div class="wedding_div">
			<a href="/wedding/michael_bryce">
				<img class="wedding_img"src="../img/wed/w-11.png">
			</a>
			<br>
			<span>MICHAEL + BRYCE</span>
		</div>
		<div class="wedding_div">
			<!-- <a href="/wedding/marco_kandice"> -->
				<img class="wedding_img"src="../img/wed/w-6.png">
			<!-- </a> -->
			<br>
			<span>MARCO + KANDICE</span>
		</div>
	</div>
</section>