<!-- WEDDING - SHOW -->
<div class="wedding_show-div">
	<img class="wedding_show-img" src="http://res.cloudinary.com/sans35/image/upload/{{couple}}/1.jpg">
	<img class="wedding_show-img" src="http://res.cloudinary.com/sans35/image/upload/{{couple}}/2.jpg">
	<img class="wedding_show-img" src="http://res.cloudinary.com/sans35/image/upload/{{couple}}/3.jpg">
	<img class="wedding_show-img" src="http://res.cloudinary.com/sans35/image/upload/{{couple}}/4.jpg">
	<img class="wedding_show-img" src="http://res.cloudinary.com/sans35/image/upload/{{couple}}/5.jpg">
	<img class="wedding_show-img" src="http://res.cloudinary.com/sans35/image/upload/{{couple}}/6.jpg">
</div>
<a class="wedding_show-a" href="/wedding">RETURN</a>