<!-- SIGN IN -->
<section id="signin">
	<div id="signin_container">
<!-- 		<div id="signin_button">
			<h2 id="signin_hello">SIGN IN</h2>
		</div> -->
		<form id="signin_form" ng-submit="signin.signIn()">
			<input class="signin_input" type="text" placeholder="EMAIL" onkeyup="return toLowercase(this);" ng-model="signin.form.email">
			<input class="signin_input" type="password" placeholder="PASSWORD" ng-model="signin.form.password">
			<input class="signin_input-button" type="submit" value="SIGN IN">
		</form>
		<p class="signin_p">DON'T HAVE AN ACCOUNT?  <a class="signin_a" href="/signup">CREATE ONE!</a></p></h3>
		<p class="signin_p"><a class="signin_a" href="/password">FORGOT YOUR PASSWORD?</a></p>
		<!--  BAD PASSWORD MESSAGE -->
		<div class="block-center" ng-show="badPassword">
			<p class="signin_p red"><u>INCORRECT USERNAME AND/OR PASSWORD.</u></p>
		</div>
	</div>
</section>
<script>
	function toLowercase(email) {
		email.value = email.value.toLowerCase();
	};
</script>